* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  text-decoration: overline;
}
mark {
  color: blue;
}
.h2 {
  text-align: center;
  text-decoration: underline;
  color: brown;
}
.sleva {
  width: 150px;
  float: left;
}
.sprava {
  width:  250px;
  float: right;
  margin: 10px 10px;
}